@page "/getintouch"

<div class="text-center border my-5 rounded">"
    <div class="display-6 border-bottom">
        Contact
    </div>
    <div class="lead">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>Bilgi ve destek hattı</p>

        <i class="fa-solid fa-adress-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>Çankaya/Ankara</p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>destek@akademi.gov.tr</p>
    </div>
</div>
